.contenedorSuperior{
    position:absolute;
    height: 130px;
    width: 1000%;
    top: 0px;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1.6px, rgb(209, 213, 219) 0px 0px 0px 1.6px inset;
    
} 

.grupoIconos{
    
    width: 45px;
    position: relative;
    left: 1800px;
    top:13px;
    padding: 15px;
    
}


.imagenBuscar{
    width: 520px;
    position:relative;
    left: 620px; 
    top: 22px;
}

.imagenPerfil{
    width: 88px;
    position: relative;
    left: 1270px;
    top: 24px;

}

.imagenLogo{
    width: 200px;
    position:relative;
    margin-left: 580px;
    top: 28px;

}

